div(id="layout" ng-init="showNavbar = false" ng-controller="LayoutController")
	#bar-header.row.header-bar.navbar-fixed-top
		.col.col-lg-4.col-md-4.col-xs-4
			.redescubre-logo(ui-sref="home")
		.col.col-lg-4.col-md-4.col-xs-4
			.logo(ui-sref="home")
				img(src="images/sktv/logo.png")
		.col.col-lg-4.col-md-4.col-xs-4
			.social-media-icons.hidden-xs
				a( href="mailto:sktvchile@gmail.com" target="_system")
					span.icon-email
				a( href="https://www.facebook.com/sktvchile" target="_system")
					span.icon-facebook
				a( href="https://www.youtube.com/user/sktvchile/featured" target="_system")
					span.icon-youtube
				a( href="https://www.instagram.com/sktvchile/" target="_system")
					span.icon-instagram
			button.menu-logo.hidden-sm.hidden-md.hidden-lg(ng-click="showNavbar = !showNavbar")
	nav.navbar.navbar-fixed-top.appear.hidden-xs.absolute
		.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
			ul.nav.navbar-nav
				li(ui-sref-active="active")
					a(ui-sref="home") INICIO
				li(ui-sref-active="active")
					a(ui-sref="novedades") NOVEDADES
				li(ui-sref-active="active")
					a(ui-sref="galeria") GALERIA
				li(ui-sref-active="active")
					a(ui-sref="agentes") AGENTES
				li(ui-sref-active="active")
					a(ui-sref="mapa") MAPA
				li(ui-sref-active="active")
					a(ui-sref="about") SKTV
		.col-md-3.col-sm-2.p-r-0
			ul.nav.navbar-nav.pull-left(ng-init="showSearch = false")
				li.search-bar
					span.clickable.icon.icon-search(ng-click="showSearch = !showSearch")
					div.search-autocomplete(angucomplete-alt ng-class="{'invs': !showSearch}"
						placeholder="Buscador"
						pause="500"
						selected-object="searchResult"
						remote-url="{{searchUrl}}"
						remote-url-request-formatter="remoteUrlRequestFn"
						remote-url-data-field="result"
						title-field="title"
						description-field="content"
						minlength="2"
						text-searching="Buscando..."
						text-no-results="No hay resultados"
						input-class="form-control form-control-small"
						match-class="highlight"
	               )
	nav.navbar.navbar-fixed-top.appear.absolute(ng-show="showNavbar").hidden-sm.hidden-md.hidden-lg
		.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
			ul.nav.navbar-nav
				li(ui-sref-active="active")
					a(ui-sref="home") INICIO
				li(ui-sref-active="active")
					a(ui-sref="novedades") NOVEDADES
				li(ui-sref-active="active")
					a(ui-sref="galeria") GALERIA
				li(ui-sref-active="active")
					a(ui-sref="agentes") AGENTES
				li(ui-sref-active="active")
					a(ui-sref="mapa") MAPA
				li(ui-sref-active="active")
					a(ui-sref="about") SKTV
	.container-content
		block content
		.footer(class="{{$parent.currentState}}-page")
			.social-media-icons.hidden-xs
				a( href="mailto:sktvchile@gmail.com" target="_system")
					span.icon-email
				a( href="https://www.facebook.com/sktvchile" target="_system")
					span.icon-facebook
				a( href="https://www.youtube.com/user/sktvchile/featured" target="_system")
					span.icon-youtube
				a( href="https://www.instagram.com/sktvchile/" target="_system")
					span.icon-instagram
			p.margin-0.white.book.uppercased.text-center
				| SKTV &copy; 2018 
			form.hidden-xs.form-inline(ng-submit="subscribe(userEmail, subscriberForm)" name="subscriberForm")
				input.form-control(type="email" ng-model="userEmail" placeholder="Correo" required)
				button.btn.btn-primary(type="submit" uib-popover="Gracias por Suscribirte!" popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen") Suscribirse
